*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary: #1363C6;
    --background-color: #0b3d91;
    --default-color: #222222;
    --heading-color: #172a28;
    --accent-color: #0b3d91;
    --surface-color: #ffffff;
    --contrast-color: #ffffff;
    --bg-pink: #fff4fa;
}

.special-text{
    color: var(--primary);
}
/* Service-banner-3 start */

.service-banner-3{
    padding: 0px;
    height: 100vh;
    position: relative;
    color: white;
}
.service-banner-3 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.above-cont{
    width: 50%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    position: absolute;
    padding: 40px;
}

@media (min-width:320px) and (max-width:769px) {
    .above-cont{
        width: 100%;
        height: 100%;
        top: 0;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        position: absolute;
        padding: 40px;
    }
}

@media (min-width:770px) and (max-width:1024px) {
    .above-cont{
        width: 80%;
        height: 100%;
        top: 0;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        position: absolute;
        padding: 40px;
    }
}

.font-edit-3 h5{
    font-weight: 500;
}

.font-edit-3 h1{
    font-weight: 700;
}

.service-banner-2 .font-edit-3 p{
    font-size: 20px;
}

.sb-2-btn{
    border: 2px solid #4f52f1;
    background-color: #4f52f1;
    padding: 5px 10px;
    border-radius: 10px;
    color: white;
    transition: 0.2s ease-in-out;
}
.sb-2-btn:hover{
    background-color: transparent;
}

@media (max-width:769px){
    .service-banner-2{
        padding: 0px;
        height: 100vh;
        background: linear-gradient(358deg, #2470a0, #00263d);
        color: white;
    }
}

/* Service banner - 2 end */

/* Vertical Six Card Design start */

.V-background{
    background-color: rgba(129, 128, 128, 0.103);
}

.v-head{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #00357988;
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
}

.v-head p{
    margin-bottom: 0;
    height: 30px;
    width: 30px;
    background-color: white;
    border-radius: 50px;
}

/* Vertical Six card Design End */

/* Four Card Design Start */

.fiveCard{
    border-radius: 10px;
    margin: 20px;
}

.card-hover{
    text-align: center;
    padding: 30px 15px; 
    cursor: pointer;
    line-height: 25px;
    transition: 0.3s;
    border-radius: 10px;
    border: 2px solid transparent;
}

.card-hover.one{
    background-color: #D0E8C5;
}
.card-hover.two{
    background-color: #BCCCDC;
}
.card-hover.three{
    background-color: #D9EAFD;
}
.card-hover.four{
    background-color: #E5D9F2;
}
.card-hover:hover{
    border: 2px solid black;
    overflow: hidden;
}

/* Four Card Design End */

/* Eight Content Design Start */

.ec-background{
    background-color: rgba(129, 128, 128, 0.103);
}
.eit-inside{
    border: 2px solid transparent;
    background-color: rgba(33, 79, 131, 0.13);
    padding: 15px;
    border-radius: 20px;
}
.eit-inside h4{
    color: var(--accent-color);
}

/* Eight Content Design End */