*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary: #1363C6;
    --background-color: #0b3d91;
    --default-color: #222222;
    --heading-color: #172a28;
    --accent-color: #0b3d91;
    --surface-color: #ffffff;
    --contrast-color: #ffffff;
    --bg-pink: #fff4fa;
}

.special-text{
    color: var(--primary);
}
/* Service-banner start */

.service-banner-3{
    padding: 0px;
    height: 100vh;
    position: relative;
    color: white;
}
.service-banner-3 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.above-cont{
    width: 50%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    position: absolute;
    padding: 40px;
}

@media (min-width:320px) and (max-width:769px) {
    .above-cont{
        width: 100%;
        height: 100%;
        top: 0;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        position: absolute;
        padding: 40px;
    }
}

@media (min-width:770px) and (max-width:1024px) {
    .above-cont{
        width: 80%;
        height: 100%;
        top: 0;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        position: absolute;
        padding: 40px;
    }
}

.font-edit-3 h5{
    font-weight: 500;
}

.font-edit-3 h1{
    font-weight: 700;
}

.service-banner-2 .font-edit-3 p{
    font-size: 20px;
}

.sb-2-btn{
    border: 2px solid #4f52f1;
    background-color: #4f52f1;
    padding: 5px 10px;
    border-radius: 10px;
    color: white;
    transition: 0.2s ease-in-out;
}
.sb-2-btn:hover{
    background-color: transparent;
}

@media (max-width:769px){
    .service-banner-2{
        padding: 0px;
        height: 100vh;
        background: linear-gradient(358deg, #2470a0, #00263d);
        color: white;
    }
}

/* Service banner end */

/* Vertical Six Card Design start */

.V-background{
    background-color: rgba(129, 128, 128, 0.103);
}

.v-head{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #00357988;
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
}

.v-head p{
    margin-bottom: 0;
    height: 30px;
    width: 30px;
    background-color: white;
    border-radius: 50px;
}

/* Vertical Six card Design End */

/* Four Card Design Start */

.fiveCard{
    border-radius: 10px;
    margin: 20px;
}

.card-hover{
    text-align: center;
    padding: 30px 15px; 
    cursor: pointer;
    line-height: 25px;
    transition: 0.3s;
    border-radius: 10px;
    border: 2px solid transparent;
}

.card-hover.one{
    background-color: #D0E8C5;
}
.card-hover.two{
    background-color: #BCCCDC;
}
.card-hover.three{
    background-color: #D9EAFD;
}
.card-hover.four{
    background-color: #E5D9F2;
}
.card-hover:hover{
    border: 2px solid black;
    overflow: hidden;
}

/* Four Card Design End */

/* Eight Content Design Start */

.ec-background{
    background-color: rgba(129, 128, 128, 0.103);
}
.eit-inside{
    border: 2px solid transparent;
    background-color: rgba(33, 79, 131, 0.13);
    padding: 15px;
    border-radius: 20px;
}
.eit-inside h4{
    color: var(--accent-color);
}

/* Eight Content Design End */

/* Five content design start */
.fonts{
    font-weight: 500;
    color: var(--background-color);
}


.five-left{
    border-radius: 10px 0px 0px 10px;
    padding: 40px 6px;
    background-color: #1163fb;
}
.five-height{
    display: flex;
    flex-direction: column;
    max-height: 600px;
    /* overflow-y: scroll; */
    padding: 0px 20px;
}
.five-right{
    padding: 63px 20px;
    border-radius: 0px 10px 10px 0px;
    /* background-color: lightblue; */
}

.left-btn {
    display: inline-block;
    padding: 10px 20px;
    background: rgba( 255, 255, 255, 0.25 );
    color: white;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    border: none;
    font-size: 16px;
    margin: 5px;
    border: 2px solid transparent;
    transition: 0.2s ease-in-out;
}
.left-btn:hover{
    background-color: white;
    transform: scale(1.1);
    color: black;
}

.left-btn:hover + .left-btn{
    transform: scale(1.05);
}

.left-btn:has(+ .left-btn:hover){
    transform: scale(1.05);
    /* color: white; */
}
.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-height: 0px;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.5s ease-out;
    background: #f7f7f7;
    padding: 0px 15px;
    border-radius: 5px;
}

.content.default {
    border: 2px solid black;
    max-height: 600px;
    opacity: 1;
}

.content.show {
    max-height: 600px;
    opacity: 1;
}

@media (max-width:425px) {
    .five-left{
        border-radius: 10px 10px 0px 0px;
        padding: 40px 6px;
        background-color: #1163fb;
    }
    .five-right{
        padding: 53px 25px;
        border-radius: 0px 0px 10px 10px;
    }
}

@media (min-width:426px) and  (max-width:768px){
    .five-left{
        border-radius: 10px 0px 0px 10px;
        padding: 40px 6px;
        background-color: #1163fb;
    }
    .five-right{
        padding: 41px 25px;
        border-radius: 0px 10px 10px 0px;
    }
    .content.default {
        max-height: 485px;
        opacity: 1;
        border: 2px solid black;
        overflow-y: scroll;
    }
    
    .content.show {
        /* max-height: 485px; */
        opacity: 1;
    }
}

@media (min-width:769px) and (max-width:1024px){
    .five-right{
        padding: 54px 25px;
        border-radius: 0px 10px 10px 0px;
    }
    .content.default {
        max-height: 460px;
        opacity: 1;
        border: 2px solid black;
    }
    
    .content.show {
        max-height: 500px;
        opacity: 1;
    }
}
/* Five content design end */

/* launch card design start */
.tx-background{
    background-color: rgba(129, 128, 128, 0.103);
}
/* launch card design end */

/* New Faq design start */
.imgFaq{
    padding: 20px;
}
.accordion-item{
    border: none;
    --bs-accordion-btn-focus-box-shadow: white;
}
.accordion-button:not(.collapsed){
    background-color: transparent;
    border: transparent;
}

.accordion-item:first-of-type>.accordion-header .accordion-button{
    border: white;
}
/* New Faq Design End */